ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.wrapper_container {
  display: flex;
  width: 100wh;
  height: 100vh;
  overflow: hidden;
  .tool {
    position: fixed;
    top: 0px;
    left: 300px;
    z-index: 1;
    padding: 10px;
    background: rgba(0, 0, 0, 0.1);
    .tool_btn {
      padding: 2px 3px;
      text-align: center;
      // background-color: #1890ff;
      color: #fff;
      margin: 0 3px;
      cursor: pointer;
    }
  }
  .editor_container {
    width: 260px;
    height: 100%;
    border: 1px solid #eee;
    background-color: rgba(44, 75, 125, 0.5);
    box-shadow: -1px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
  }
  .navLeft_container {
    width: 260px;
    height: 100%;
    border: 1px solid #eee;
    background-color: rgba(44, 75, 125, 0.5);
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
  }
  .main_container {
    flex: 1;
    background-color: RGBA(3, 12, 27, 1);
    position: relative;
    .main_container_rgl {
      width: 100%;
      // height: 100%;
      z-index: 1;
    }
    .component_wrapper {
      background-color: transparent;
      pointer-events: auto;
    }
    .layout1 {
      pointer-events: none;
    }
  }
}
.blink-1 {
  -webkit-animation: blink-1 0.6s both;
  animation: blink-1 0.6s both;
}
@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
.component-message-wrap-fadein {
  -webkit-animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.component-message-wrap-fadeout {
  -webkit-animation: fade-out 0.6s ease-out both;
  animation: fade-out 0.6s ease-out both;
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// 导航的显示隐藏

.nav_visible-exit {
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-265px);
  }
}
.nav_visible-enter {
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-right {
  0% {
    transform: translateX(-265px);
  }
  100% {
    transform: translateX(0px);
  }
}
// 编辑器的显示
.editor_visible-exit {
  animation: editor_slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes editor_slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(265px);
  }
}
.editor_visible-enter {
  animation: editor-slice-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes editor-slice-left {
  0% {
    transform: translateX(265px);
  }
  100% {
    transform: translateX(0px);
  }
}
